@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.card-login{
    background-color: white;
    width: 60%;
    height: 70%;
    border-radius: 10px;
    box-shadow: 1px 2px 5px gray;
    display: flex;
    justify-content:space-between;
    padding: 20px;
}
.login{
    background-color: white;
    padding: 10px;
    border-radius: 10px; 
    box-shadow: 1px 2px 5px gray;
}
.login h4{
    text-align: center;
    margin: 20px 0px;
    font-family: 'Kalam', cursive;
}
.invalid-login{
    font-size: small;
    color: red;
    font-style: italic;
}
