@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');
body {
  font-size: .875rem;
}
.logo{
  color: white;
  text-align: center;
  margin: 5px 10px;
}

/* header{
  width: 100%;
  background-color: black;
  color: white;
  padding: 5px 0px 5px 200px ;
} */
h3{
  margin: 10px 0px;
}

.feather {
  width: 16px;
  height: 16px;
}
/* #sidebarMenu:hover{
  width: 40px;
} */
a {
  background-color: #2470dc;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
 
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}
.search{
  background-color: white;
  display: flex;
  justify-content:space-between;
  margin: 10px 0px;
  padding: 10px;
  box-shadow: 0px 2px 5px gray;
  border-radius: 5px;
}
.search button{
  padding: 6px 10px;
  border:0;
  border-radius: 5px;
  background-color: gray;
  color: white;
}
.search input{
  padding: 5px 10px;
  
  /* border-radius: 5px;
  border: 0;
  */
}
.search-menu-order{
  box-shadow: 0px 2px 5px gray;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  border: 0;
}
.orderan{
  overflow-y: auto;
  height: 100%;;
  background-color: #2470dc;
  width: 60%; background-color:white; 
  padding:10px; 
  margin:10px; 
  border-radius:20px;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
}
.order-in{
  background-color: white;
  height: 200px;
  border-radius: 20px;
  margin: 10px 0px;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/* card order,penjualan/item, pemasukan/hari */
.container-card{
  display: flex;
  justify-content: center;
}
/* .custom-modal-size{
  width: 700px;
  height: 500px;
} */
.has-submenu{
  cursor: pointer;
}

/* .kotak{
  width: 10px;
  height: 10px;
  background-color: #2470dc;
    transform: rotate(90deg);
  margin-left: 20px;
} */
/* .sub-transaksi{

} */
.rotate {
  transition: transform 0.3s ease-in-out;
  transform: rotate(180deg);
}

/* .rotate.down {
  transform: rotate(180deg);
} */

.submenu{
  /* margin-left: 50px; */
  display: none;
  background-color: rgb(27, 27, 27);
  text-decoration: none;
  transition:0.3s ease;
  /* transform: rotate(90deg); */
  /* justify-content: space-betwe */
  
}
.nav-item{
  margin: 0px 10px;
  border-radius: 15px;
}
.has-submenu{
  margin: 0px 10px;
  border-radius: 15px;
}
.table-dashboard{
  display: flex;
  justify-content:space-between;
  /* height: 100px; */
}
.table-stok-dashboard{
  height: 270px;
  overflow-y: auto;
  -ms-overflow-style:none;
  scrollbar-width: none;
  position: relative;
  background-color: white; 
  width:40%; 
  border-radius:30px; 
  margin:10px; 
  padding:10px;  
  box-shadow: 1px 2px 5px gray;
}
.table-stok-dashboard button{
  background-color: rgb(89, 176, 89); 
  border:0; 
  padding:10px; 
  border-radius:20px; 
  color:white;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;

}
.card-date{
  height: 100px;
  width: 100%;
  background-color: white;
  /* background: linear-gradient(to right, red, white, white, white, white); */
  margin: 20px 10px;
  border-radius: 20px;
  font-size:medium;
  display:flex; 
  justify-content: space-between; 
  align-items: center;
  padding: 0px 10px 0px 0px;
  box-shadow: 1px 2px 5px gray;
}
.link-orderan{
  background: linear-gradient(to top, #fefefe, #4926fa);
  text-align: center;
  /* height:100%;  */
  background-color:white; 
  padding:10px; margin:10px; 
  border-radius:20px; 
  /* width:100%;    */
  box-shadow: 1px 2px 5px gray;
}
.card-date p{
  margin: 10px;
}
/* .span-card{
  font-size: smaller;
  font-family: 'Hind Siliguri', sans-serif;

} */
.card-date p span{
  font-family: 'Lexend Deca', sans-serif;
}
/* dropdown */
select{
  border: 0;
  border-radius:5px; 
  padding:5px 20px;
  background-color: yellow;

}
/* .nav-link{
  color: white;
  background-color: crimson;
}
.nav-link::after{
  color:chartreuse;
  background-color: #9da0a3;

} */

/* ORDERS */
.buttom-action-orders{
  margin: 5px;
  border: 0;
  border-radius: 5px;
}
/* p{
  border: 1px solid black;
  margin: 2px;
} */
@media screen and(max-width:600px){
  .container-card{
    display: block;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content input[type="checkbox"] {
  display: block;
  margin: 5px;
}

.dropdown-content label {
  margin-left: 25px;
}

.show {
  display: block;
}


/* LAPORAN */
.laporan-card{
  background-color: #2470dc;
  padding: 5px;
  margin: 10px 0px;
  color: white;
  border-radius: 5px;
}

/* daftar order */
.container-daftar-order{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

}
.daftar-order{
  width: 60%;
}
.card-order{
  margin: 20px 80px;
  padding: 20px;
}
.pilih-menu{
  display: flex;
  justify-content: center;
}
.pilih-menu .card{
  margin: 0px 10px;
  text-align: center;
  padding: 5px;
  border-radius: 20px;
  border: 0;
  width: 100%;
}
/* .card{
  padding: 10px;
} */
/* .list-order .card{
  margin: 10px 0px;
  padding: 10px;
} */

.increment{
  border: 0;
  background-color: rgb(71, 71, 255);
  border-radius: 20px;
  padding: 5px 10px;
}
.decrement{
  border: 0;
  background-color: rgb(71, 255, 126);
  border-radius:20px;
  padding: 5px 10px;
}


/* card scroll menu orders */
/* Styling untuk container kartu */
.card-container {
  background-color: white;
  padding: 5px;
  box-shadow: 1px 2px 5px gray;
  border-radius: 10px;
  width: 100%;
  display: flex; /* Menggunakan flexbox untuk menyusun kartu-kartu */
  overflow-x: auto; /* Mengaktifkan scrolling horizontal saat konten melebihi lebar container */
  white-space: nowrap; 
  scrollbar-width: none; /* Menghilangkan scrollbar pada browser yang mendukung */
  -ms-overflow-style: none; /* Menghilangkan scrollbar pada browser Microsoft */
}
/* .table-hover-dashboard{
  overflow-y: auto;
} */


.cart{
  background-color: white;
  width: 40%;
  height: 100%;
  padding: 10px;
  margin: 10px 0px 0px 20px;
  border-radius: 20px;
}
