.title-card{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 30px 0px;
}
.container-menu{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.card-bayar{
    border: 1px solid gray;
    border-radius: 5px;
    height: 100%;
    width: 40%;
    padding: 5px;
}
.menu-select{
    font-size:large;
    font-weight: 800;
    border: 0;
}
/* .menu input {
    border-radius: 50%;
    width: 20px;
    height: 20px;
} */
.chackbox{
    display: flex;
    justify-content: space-between;
}
input[type="checkbox"] {
    width: 20px; 
    height: 20px; 
    border-radius: 50%; 
    appearance: none; 
    -webkit-appearance: none;
    border: 1px solid #000;
    outline: none; 
    cursor: pointer;
    margin-left: 200px;
  }
  input[type="checkbox"]:checked {
    background-color: #27ae60; /* Untuk memberi warna latar belakang saat checkbox dicentang */
   
  }
.menu{
    margin: 0px 10px;
}
/* ul{
    list-style: none;
    text-align: start;
    padding: 0;
}
.cart-items li{
    border-bottom:1px solid gray;
    padding: 10px 0px;
    margin: 10px 0px;
} */
/* footer */
footer{
    height: 100%;
    background-color: gray;
    text-align: center;
    padding: 20px;
}
footer h2{
    padding: 20px 0px;
    color: white;
}
.footer-content{
    display: flex;
    justify-content: space-around;
}
.text{
    color: white;
    width: 500px;
    margin: 10px;
}
.icon-sosmed{
    display: flex;
    justify-content: center;
}
.icon-sosmed img{
    margin: 5px;
    height: 30px;
    width: 30px;
}
.text a{
    text-decoration: none;
    color: white;
}
.text a:hover{
    color: white;
    color: black;
}
.card-bayar{
    text-align: center;
}
@media screen and (max-width: 600px) {
    .container-menu{
        display: block;
    }
    .card-bayar{
        width: 100%;
    }
    li{
        border-bottom:1px solid gray;
        padding: 10px 0px;
        margin: 10px 0px;
    }
    .navbar{
        background-color: black;
    }
    .footer-content{
        display: block;
        justify-content: center;
    }
    .text{
        width: 100%;
        margin: 10px 0px;
    }
  }
  